#aboutMe {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}
#aboutMeTextTop{
    font-size: x-large;
}

#aboutMeTextBottom {
    width: 30rem;
}
#myWorks {
    background-color: #5d646d;
}
#footerNav {
    background-color: #5d646d;
}
#footerNav a {
    color: white;
}
@media (min-width: 502px) {

    #aboutMeTextBottom p {
        font-size: large;
    }
}
@media (max-width: 502px) {
    #aboutMeTextBottom p {
        font-size: medium;
    }
}
@media (max-width: 402px) {

    #aboutMeTextBottom p {
        font-size: small;
    }
}
@media (max-width: 840px) {
    #aboutMeTextTop p {
        font-size: x-large;
    }
}
@media (max-width: 600px) {
    #aboutMeTextTop p {
        font-size: large;
    }
}
@media (max-width: 502px) {

}